<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <link href="/index.css" type="text/css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>
________  ._______   ____ _________
\______ \ |   \   \ /   / \_   ___ \  ____   _____ ______   ____
 |    |  \|   |\   Y   /  /    \  \/ /  _ \ /     \\____ \ /  _ \
 |    `   \   | \     /   \     \___(  <_> )  Y Y  \  |_> >  <_> )
/_______  /___|  \___/     \______  /\____/|__|_|  /   __/ \____/
        \/                        \/             \/|__|
    </h1>
    <div class="countdown">
      <!-- Cuenta atrás -->
    </div>
    <script>
      const countdown = document.querySelector('.countdown')
      const startDate = new Date(2020, 1, 1, 0, 0, 0)
      const endDate = new Date(2020, 1, 29, 23, 59, 59)
      const startTime = startDate.getTime()
      const endTime = startDate.getTime()

      function diff(a, b) {
        const ms = a - b
        const ts = Math.floor(ms / 1000)
        const s = ts % 60
        const m = Math.floor(ts / 60) % 60
        const h = Math.floor(ts / 3600) % 24
        const d = Math.floor(ts / 86400)
        return [d, h, m, s, ts, ms]
      }

      function update() {
        const currentTime = Date.now()
        if (currentTime < startTime) {
          // TODO: Todavía no comenzó
          const [d, h, m, s] = diff(startTime, currentTime)
          countdown.innerText = `Quedan ${d} días, ${h} horas, ${m} minutos y ${s} segundos para que comience la DIV compo`
        } else if (currentTime > startTime && currentTime < endTime) {
          // TODO: Ya comenzó
          const [d, h, m, s] = diff(currentTime, startTime)
          countdown.innerText = `Quedan ${d} días, ${h} horas, ${m} minutos y ${s} segundos para que termine la DIV compo`
        } else {
          // TODO: Ya terminó
          const [d, h, m, s] = diff(currentTime, endTime)
          countdown.innerText = `Hace ${d} días, ${h} horas, ${m} minutos y ${s} segundos que terminó la DIV compo`
        }
      }

      setInterval(update, 100)

    </script>
    <nav>
      <ul>
        <li>[<a href="/">Home</a>]</li>
        <li>[<a href="/recursos">Recursos</a>]</li>
        <li>[<a href="/consejos">Consejos</a>]</li>
      </ul>
    </nav>
  </header>
  <hr>
  <main>
    {{{ contents }}}
  </main>
  <hr>
  <footer>
    <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=7185985&style=0025&nbdigits=5&type=page&initCount=0" title="Free-Counter" Alt="hitwebcounter" border="0" >
    </a>
    <ul>
      <li>Si tienes alguna sugerencia o cambio puedes añadir una issue o un PR en <a href="https://gitlab.com/AzazelN28/div-compo">https://gitlab.com/AzazelN28/div-compo</a>
      <li>Página optimizada para 800x600 y <a href="https://es.wikipedia.org/wiki/Netscape_Navigator">Netscape 5.0</a></li>
      <li>Generada con {{ generator.name }} &mdash; <a href="{{ generator.url }}">{{ generator.url }}</a></li>
      <li>ASCIIArt generado con <a href="http://patorjk.com/software/taag/#p=display&f=Graffiti&t=DIV%20Compo">http://patorjk.com/software/taag/#p=display&f=Graffiti&t=DIV%20Compo</a></li>
    </ul>
  </footer>
</body>
</html>
